
body {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div.title{
    margin: 10px;
    position:relative;
    text-align: center;
    font-family: "Source Sans 3", serif;
    font-size: 4vmax;
}

form{
    margin: 10px;
    position:relative;
    text-align: center;
    
}

